{% extends 'base.html' %} {% block menu %}
<h2>{{ titremenu }}</h2>
{% endblock %} {% block content %}
<div class="container mt-4">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Valeurs</th>
        <th scope="col">Position</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for attribute in productattributes %}
      <tr>
        <td>{{ attribute.name}}</td>
        <td>
          {% for value in attribute.productattributevalue_set.all %}
          <p>{{ value.value }}</p>
          {% empty %}
          <p>Aucune valeur</p>
          {% endfor %}
        </td>
        <td>
          {% for value in attribute.productattributevalue_set.all %}
          <p>{{ value.position }}</p>
          {% empty %}
          <p>Aucune valeur</p>
          {% endfor %}
        </td>
        <td>
          <a
            href="{% url 'productattribute-detail' attribute.id %}"
            class="btn btn-primary mt-2"
            >Détails</a
          >
          <a
            href="{% url 'productattribute-update' attribute.id %}"
            class="btn btn-warning mt-2"
            >Modifier</a
          >
          <a
            href="{% url 'productattribute-delete' attribute.id %}"
            class="btn btn-danger mt-2"
            >Supprimer</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
