{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf -8" />
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}"
    />
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product-list' %}">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productitem-list' %}">ProductItem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productattribute-list' %}">ProductAttribute</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
            </li>
          {%else%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Inscription</a>
            </li>
          {%endif%}
        </ul>
      </div>
    </nav >
    <header>
      <!-- <h1>Gestion Produits</h1> -->
    </header>
    <main>
      {% block menu %} {% endblock %}
      {% block content %} {% endblock %}
    </main>
    <footer>
      <p>© 2024 Gestion Produits</p>
    </footer>
  </body>
</html>
