{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf -8" />
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}"
    />
    {% endblock %}
  </head>
  <body>
    <header>
      <h1>Gestion Produits</h1>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>© 2021 Gestion Produits</p>
    </footer>
  </body>
</html>
