{% extends 'base.html' %}
{% block menu %}
<h2>{{ titremenu }}</h2>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <a href="{% url 'product-list' %}" class="btn btn-primary mb-3">Retour à la liste des produits</a>
    <h2 class="display-5">{{ product.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Code :</strong> {{ product.code }}</li>
        <li class="list-group-item"><strong>Prix HT :</strong> {{ product.price_ht }}</li>
        <li class="list-group-item"><strong>Prix TTC :</strong> {{ product.price_ttc }}</li>
        <li class="list-group-item"><strong>Date de création :</strong> {{ product.date_creation }}</li>
    </ul>
</div>
{% endblock %}