{% extends 'base.html' %}
{% block menu %}
<h2>{{ titremenu }}</h2>
{% endblock %}
{% block content %}
<table>
    <tr>
        <th>Code</th>
        <th>Nom</th>
        <th>Prix HT</th>
        <th>Prix TTC</th>
        <th>Date de création</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.code }}</td>
        <td><a href="{% url 'productattribute-detail' product.code %}">{{ product.name }}</a></td>
        <td>{{ product.price_ht }}</td>
        <td>{{ product.price_ttc }}</td>
        <td>{{ product.date_creation }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}